/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* @import './base.css'; */
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		/* --primary: 222.2 47.4% 11.2%; */
		--primary: 248 90% 66%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		/* @apply bg-background text-foreground; */
	}
}

@keyframes slide-down {
	0% {
		height: 0;
		opacity: 0;
	}
	100% {
		height: auto;
		opacity: 1;
	}
}

.animate-slide-down {
	animation: slide-down 0.3s ease-out forwards;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spin {
	animation: spin 0.7s linear infinite;
}

.loader {
	width: 30px;
	aspect-ratio: 4;
	--_g: no-repeat radial-gradient(circle closest-side, #20bcdf 90%, #01618700);
	background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
	background-size: calc(100% / 3) 100%;
	animation: l7 1s infinite linear;
}
@keyframes l7 {
	33% {
		background-size: calc(100% / 3) 0%, calc(100% / 3) 100%,
			calc(100% / 3) 100%;
	}
	50% {
		background-size: calc(100% / 3) 100%, calc(100% / 3) 0%,
			calc(100% / 3) 100%;
	}
	66% {
		background-size: calc(100% / 3) 100%, calc(100% / 3) 100%,
			calc(100% / 3) 0%;
	}
}

.scroll-container {
	overflow-y: scroll; /* Keeps the scrolling functionality */
	height: calc(100vh - 180px); /* Sets the height */
}

/* For WebKit browsers like Chrome and Safari */
.scroll-container::-webkit-scrollbar {
	width: 0; /* Hides the scrollbar */
	background: transparent; /* Optional: hides the scrollbar track */
}

/* For Firefox */
.scroll-container {
	scrollbar-width: none; /* Hides the scrollbar */
}

/* For Internet Explorer and Edge */
.scroll-container {
	-ms-overflow-style: none; /* Hides the scrollbar */
}

.hide-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;  /* Chrome, Safari and Opera */
}

.smooth-scrollbar::-webkit-scrollbar {
	width: 1px;
	background: transparent;
}

.smooth-scrollbar {
	scrollbar-width: none;
}

.smooth-scrollbar {
	-ms-overflow-style: none;
}

.confetti-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
}

.confetti {
	position: absolute;
	width: 10px;
	height: 20px;
	opacity: 0.7;
	animation-name: confetti-fall;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes confetti-fall {
	0% {
		transform: translateY(-120vh) rotate(0deg);
	}
	100% {
		transform: translateY(120vh) rotate(360deg);
	}
}

.loader-dots {
	color: #bebebe;
	width: 4px;
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
	transform: translateX(-38px);
	transform: scale(0.4);
	animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
	50% {
		box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
	}
	100% {
		box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
	}
}

.slider-container {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slider-content {
	display: flex;
	animation: scroll 20s linear infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-400px * 5));
	}
}

.group:hover .hover-scale {
	transform: scale(1.1);
}

.hover-scale {
	transition: transform 300ms ease-in-out;
}

.avatar-group {
	display: flex;
	overflow: hidden;
}

.avatar-group :where(.avatar) {
	overflow: hidden;
	border-radius: 9999px;
	border-width: 4px;
	--tw-border-opacity: 1;
	border-color: var(
		--fallback-b1,
		oklch(var(100% 0 0) / var(--tw-border-opacity))
	);
}

.avatar {
	position: relative;
	display: inline-flex;
}

nav::-webkit-scrollbar {
	display: none;
}

.btn-landing {
    display: flex;
	padding: 16px 24px;
    font-size: 18px;
    line-height: 28px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(89 76 255 / var(--tw-border-opacity, 1));
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    --tw-gradient-from: #868CFF var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(134 140 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #4318FF var(--tw-gradient-to-position);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    --tw-shadow: inset 0px 1px 1px 0px #ffffff59;
    --tw-shadow-colored: inset 0px 1px 1px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.animate-rotate {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.to-blueSecondary {
    --tw-gradient-to: #4318FF var(--tw-gradient-to-position);
}

.from-brandLinear {
    --tw-gradient-from: #868CFF var(--tw-gradient-from-position);
    --tw-gradient-to: #4318FF var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.border-brandLinear {
    --tw-border-opacity: 1;
    border-color: rgb(134 140 255 / var(--tw-border-opacity, 1));
}